<h1>We are launching soon!</h1>
 <p>We are in the stealth mode right now. Enter your email address below to get in the know and be 
 	among the first to find out about <b>REALTORLY</b>.</p>
<%= render 'form' %>

