<div id="footer">
            <div class="container">
                <div class="right">
                    <ul class="social">
                        <li class="rss">
                            <a href="#"></a>
                        </li><!--
            <li class="twitter"><a href="http://twitter.com"></a></li>
            <li class="facebook"><a href="http://facebook.com"></a></li>
            <li class="flickr"><a href="http://flickr.com"></a></li>
            <li class="dribbble"><a href="http://dribbble.com"></a></li>
            -->
                    </ul>
                </div>
                <div class="left">
                    <ul>
                        <li class="header">
                            <p>
                                <strong>REALTORLY</strong>
                            </p>
                        </li>	
                        <li><a href="#" title="View all posts filed under Blogs">Blogs</a></li>
                        <li><a href="#" title="View all posts filed under Business">Business</a></li>	
                    </ul>
                    <!-- Removing or editing the paragraph below is violating your license. -->
                    <p class="meta">
                        © Copyright 2011 <a href="http://workingwireframes.com/magframe/demo/">Magframe</a>. 
                    </p>
                </div>
                <div class="clear"></div>
            </div>
        </div>	